.message {
  color: white;
  font-size: 50px;
  position: relative;
  text-align: center;
}
.logoutButton {
  border-color: white;
  color: white;
}
.logoutButton:hover {
  color: #1f41a9;
  background-color: white;
}
